@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
::-webkit-scrollbar{
    width: 10px;
    background-color: #F78F3F;
}
::-webkit-scrollbar-track{
    background-color: #ff8222;
}

::-webkit-scrollbar-thumb{
    border: 1px solid #F78F3F;
    background-color: #E23636;
    border-radius: 50px;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Marvel', sans-serif;
    color: #F78F3F;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    background: url(../assets/img/backgrounds/marvelBackground-1.svg);
}

#navbar {
    height: 6vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2% 1% 1%;
    top: 0;
    background-color: #E23636;
}

#logo {
    font-size: 6vh;
    color: #F78F3F;
}

#logo img {
    width: 4%;
}

#navbar ul {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 3% 0 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

#navbar ul li a {
    position: relative;
    text-decoration: none;
    color: #F78F3F;
    font-size: 2.5vh;
}

.nav-link {
    color: white;
    transition: .4s;
}

.link-animation::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #F78F3F;
    border-radius: 4px;
    transition: .4s ease-in-out;
}

.link-animation:hover::after {
    width: 100%;
}

.main-index {
    display: flex;
    position: relative;
}

.index {
    z-index: -1;
    display: flex;
    width: 5%;
    margin-left: 95%;
    justify-content: flex-end;
    height: 100vh;
}

.vinheta-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    box-shadow: inset 0px 0px 0px 500px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 1;
}

.div-opacity {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    width: 100%;
    height: auto !important;
}

.bg_video {
    display: flex;
    position: relative;
    bottom: 0;
    width: 99.9%;
    z-index: -1000;
    background-size: cover;
}

.texto-index {
    display: flex;
    position: absolute;
    font-size: 40px;
}

.tituloPersonagem {
    font-size: 6vh;
}

.personagemImg {
    width: 30vh;
}


.container .selectsPerso {
    display: flex;
    gap: 30px;
    width: auto;
}

#selectPersonagem {
    width: 50%;
    font-size: 10px;
}

.selectsPerso select {
    border: 1px solid #E23636;
    color: #F78F3F;
    border-radius: 5px;
    cursor: pointer;
}

.btnl {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E23636;
    cursor: pointer;
    font-size: 10px;
    width: 30%;
    color: #F78F3F;
    border-radius: 5px;
    transition: .5s;
}

#divButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E23636;
    cursor: pointer;
    width: 30%;
    color: #F78F3F;
    border-radius: 5px;
    transition: .5s;
}

.containerCadastro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.titulo-pages {
    font-size: 5vh;
}

.containerItens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    width: 50%;
    padding: 2%;
}

.texto {
    text-align: center;
    font-size: 2.5vh;
}

.formCadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    transition: .5s;
}

label {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 9%;
}

.inputs input {
    width: 95%;
}

.formCadastro input {
    border: 1px solid #F78F3F;
    border-radius: 5px;
    padding: 2px;
    color: #F78F3F;
}

.container {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 5%;
}

#divimagem {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#iconeperso{
    position: relative;
    margin-left: 90%;
    width: 20%;
}

#divimagem img{
    width: 30px;
}