@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

/*Estilos Universais*/
::-webkit-scrollbar{
    width: 10px;
    background-color: #F78F3F;
}

::-webkit-scrollbar-track{
    background-color: #ff8222;
}

::-webkit-scrollbar-thumb{
    border: 1px solid #F78F3F;
    background-color: #E23636;
    border-radius: 50px;
}



html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Marvel', sans-serif;
    color: #F78F3F;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    background: url(../assets/img/backgrounds/marvelBackground-1.svg);

}

#navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5vh;
    width: 100%;
    padding: 1% 2% 1% 1%;
    top: 0;
    background-color: rgb(226, 54, 54);
}

#logo {
    font-size: 6vh;
    color: rgb(247, 143, 63);
}

#logo img {
    width: 5vh;
}

#navbar ul {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 3% 0 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

#navbar ul li a {
    position: relative;
    text-decoration: none;
    color: #F78F3F;
    font-size: 2.5vh;
}

#iconeperso{
    width: 3vw;
    border-radius:50%;
    border: 2px solid #F78F3F;
    padding: 2%;
}

#iconeperso img {
    width: 2vw;
}

.nav-link {
    color: white;
    transition: .4s;
}

.link-animation::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #F78F3F;
    border-radius: 4px;
    transition: .4s ease-in-out;
}

.link-animation:hover::after {
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

}

/*Landing Page*/
.main-objetivo, .main-sobre {
    display: flex;
    background-color: #E23636;
    position: absolute;
}

.index {
    z-index: -1;
    display: flex;
    width: 5%;
    margin-left: 95%;
    justify-content: flex-end;
    height: 100vh;
}

.vinheta-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    box-shadow: inset 0px 0px 0px 500px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 1;
}

.div-opacity {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    width: 100%;
    height: auto !important;
}

.bg_video {
    display: flex;
    position: relative;
    bottom: 0;
    z-index: -1000;
    background-size: cover;
    height: 90vh;   
}

.texto-index {
    display: flex;
    position: absolute;
    font-size: 40px;
}

.personagemImg {
    width: 30vh;
}

#selectPersonagem {
    width: 100%;
}

.selectsPerso select {
    position: relative;
    border: 1px solid #E23636;
    color: #F78F3F;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E23636;
    cursor: pointer;
    width: 50%;
    color: #F78F3F;
    font-size: 2.2vh;
    border-radius: 5px;
    transition: .5s;
    padding: 2px 5px 2px 5px;
}

#divButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCadastro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    font-size: 3vh;
}

.titulo-pages {
    font-size: 5vh;
}

.containerItens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    padding: 3%;
}

.texto {
    text-align: center;
    font-size: 2.5vh;
}

.formCadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: .5s;
}

.text {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: start;
    width: 100vw;
}

label {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    width: 98%;
}

.inputs input {
    width: 100%;
}

.formCadastro input {
    border: 1px solid #F78F3F;
    border-radius: 5px;
    color: #F78F3F;
}

#divimagem {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#divimagem img{
    width: 30px;
}

/*Inicio do Quiz*/
.quiz{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 20vw;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5%;
}

.container .telaquiz{
    width: 100vh;
    height: 89vh;
    position: relative;
}

#nome_perso {
    font-size: 4vh;
}

.inputQuiz{
    display: flex;
    flex-direction: row;
}

/*Inicial de Dash, Quiz e Resumo de personagem*/
#containerPerso{
    width: 100vw;
    height: 100vh;
    height: auto;
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter:blur(4px);
}

.tituloPersonagem {
    font-size: 5vh;
}

.textPersonagem{
    text-align: justify;
    font-size: 2.5vh;
    height: 77.5vh;
    padding: 2%;
}

.textsPerso {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.textsPerso1 {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 20%;
    height: 50vh;
}

#imgPerso {
    width: auto;
}

.imagens{
    width: 59vh;
}

#inputs_quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
}
