@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Marvel', sans-serif;
    color: #F78F3F;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    background: url(../assets/img/backgrounds/marvelBackground-1.svg);
}

#navbar {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #E23636;
    padding: 1% 2% 1% 1%;
}

#logo {
    font-size: 6vh;
    color: #F78F3F;
}

#navbar ul {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 3% 0 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

#navbar ul li a {
    position: relative;
    text-decoration: none;
    color: #F78F3F;
    font-size: 2.5vh;
}

.nav-link {
    color: white;
    transition: .4s;
}

.link-animation::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #F78F3F;
    border-radius: 4px;
    transition: .4s ease-in-out;
}

.link-animation:hover::after {
    width: 100%;
}

.main-index {
    display: flex;
    position: relative;
}

.index {
    z-index: -1;
    display: flex;
    width: 5%;
    margin-left: 95%;
    justify-content: flex-end;
    height: 100vh;
}

.vinheta-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    box-shadow: inset 0px 0px 0px 500px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 1;
}

.div-opacity {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    width: 100%;
    height: auto !important;
}

.bg_video {
    display: flex;
    position: relative;
    bottom: 0;
    width: 99.9%;
    z-index: -1000;
    background-size: cover;
}

.texto-index {
    display: flex;
    position: absolute;
    font-size: 40px;
}

.tituloPersonagem{
    font-size: 6vh;
}

.personagemImg{
    width: 30vh;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    height: auto;
    width: 50%;
}

.selectsPerso{
    width: auto;
    border: none;
    border-radius: 15%;
}

.containerCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.titulo-pages{
    font-size: 5vh;
}

.containerItens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    width: 50%;
    padding: 2%;
}

.texto {
    text-align: center;
    font-size: 2.5vh;
}

label{
    display: flex;
    flex-direction: column;
}

.containerInputs {
    background-color: #E23636;
}