@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Estilos Universais*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #F78F3F;
}

::-webkit-scrollbar-track {
    background-color: #ff8222;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #F78F3F;
    background-color: #E23636;
    border-radius: 50px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Marvel', sans-serif;
    color: #FFFFFF;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    background: url(../assets/img/backgrounds/marvelBackground-1.svg);

}

#navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5vh;
    width: 100%;
    padding: 1% 2% 1% 1%;
    top: 0;
    background-color: rgb(226, 54, 54);
}

#logo {
    font-size: 6vh;
    color: rgb(255, 255, 255);
}

#logo img {
    width: 5vh;
}

#navbar ul {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 3% 0 0;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

#navbar ul li a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2.5vh;
}

#iconeperso {
    width: 3vw;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    padding: 2%;
}

.nav-link {
    color: white;
    transition: .4s;
}

.link-animation::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #F78F3F;
    border-radius: 4px;
    transition: .4s ease-in-out;
}

.link-animation:hover::after {
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

}

.treme {
    animation: treme 0.1s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 5px;
    }

    50% {
        margin-left: 0;
    }

    75% {
        margin-left: -5px;
    }

    100% {
        margin-left: 0;
    }
}

/*Landing Page*/
.titulo {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.container-objetivo,
.container-sobre,
.container-noticias {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur (10px);
    border-top: 1px solid #FFFFFF;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.noticias-filmes,
.noticias-hqs,
.noticias-jogos {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    padding: 2%;
    gap: 50px;
    color: #FFFFFF;
    font-size: 4vh;
    text-align: justify;
}

button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #E23636;
    color: #FFFFFF;
    transition: .5s;
}

.cards-sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foti {
    border-radius: 100px;
    width: 25vw;
}

.sobreMim {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 50px;
    color: #FFFFFF;
    font-size: 4vh;
    padding: 2%;
    margin: 5% 0 5% 0;
}

.sobreMim-text {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.cardsTitulo {
    font-size: 5vh;
    color: #F78F3F;
}

.index {
    z-index: -1;
    display: flex;
    width: 5%;
    margin-left: 95%;
    justify-content: flex-end;
    height: 100vh;
}

.vinheta-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    box-shadow: inset 0px 0px 0px 500px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 1;
}

.div-opacity {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    width: 100%;
    height: auto !important;
}

.bg_video {
    display: flex;
    position: relative;
    bottom: 0;
    z-index: -1000;
    background-size: cover;
    height: 90vh;
}

.texto-index {
    display: flex;
    position: absolute;
    font-size: 40px;
}

.saibaMais {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    color: #FFFFFF;
    padding: 5%;
}

.noticias {
    text-align: justify;

}

.TituloSaiba {
    color: #F78F3F
}

.saibaMais .bottao {
    width: 8%;
    border-radius: 4px;
    border: none;
    margin-left: 90%;
}


/*personagem.html*/

.personagemImg {
    width: 30vh;
}

#selectPersonagem {
    width: 100%;
}

.selectsPerso select {
    position: relative;
    border: 1px solid #E23636;
    color: #F78F3F;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E23636;
    cursor: pointer;
    width: 50%;
    font-size: 2.2vh;
    border-radius: 5px;
    transition: .5s;
    padding: 2px 5px 2px 5px;
}

#divButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCadastro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    font-size: 3vh;
}

.titulo-main {
    font-size: 8vh;
    justify-content: center;
}

.containerItens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    padding: 3%;
}

.texto {
    text-align: center;
    font-size: 2.5vh;
}

.formCadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: .5s;
}

.text {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: start;
    width: 100vw;
}

label {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    width: 98%;
}

.inputs input {
    width: 100%;
}

.formCadastro input {
    border: 1px solid #F78F3F;
    border-radius: 5px;
    color: #F78F3F;
}

#divimagem {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#divimagem img {
    width: 30px;
}

#b_usuario {
    font-weight: 700;
    color: #F78F3F;
}

/*Inicio do Quiz*/
.quiz {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 20vw;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5%;
    font-size: 25px;
}

h3 {
    color: #F78F3F;
}

.container .telaquiz {
    width: 100vh;
    height: 89vh;
    position: relative;
}

#nome_perso {
    font-size: 4vh;
    font-weight: 700;
    color: #F78F3F;
}

.inputQuiz {
    display: flex;
    flex-direction: row;
}

/*Inicial de Dash, Quiz e Resumo de personagem*/
.main-perso {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    font-size: 25px;

}

#containerPerso {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#containerPersoDash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tituloPersonagem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graphText {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-between;

}

.textPersonagem {
    width: 65vw;
}

.textsPerso1 {
    position: relative;
    width: 20%;
}

.titulo-personagem {
    color: #F78F3F;
    font-size: 8vh;
}

.textsPerso {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    width: 65%;
}

#imgPerso {
    width: 35%;
}

.imagens {
    width: 100%;
}

#inputs_quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
}

.dadosDaDash {
    width: 50%;
}

/*footer*/
footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

footer img {
    width: 25px;
}

footer p {
    color: #888;
    font-size: 14px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li a {
    color: #555;
    text-decoration: none;
}