@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Marvel', sans-serif;
    background: url(../assets/img/backgrounds/marvelBackground-1.svg);
}

.navbar {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

nav{
    padding: 2vh;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar ul li a {
    font-size: 4vh;
    position: relative;
    text-decoration: none;
    color: rgb(145, 1, 1);
}

.div-opacity {
    background: rgb(0, 0, 0);
    opacity: 0.6;
    width: 100%;
    height: 100vh !important;
}

.logo {
    width: 35%;
}

.nav-link{
    color: rgb(145, 1, 1);
    transition: .6s;
}

.navbar-animation::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(145, 1, 1);
    border-radius: 4px;
    transition: .5 ease-in-out;
}

.navbar-animation:hover::after {
    width: 100%;
}